{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
<h1>Liste des stage de {{entreprise.nom}}</h1>

{% set numero = 1 %}
<table class="table">
    {% for stage in entreprise.stages %}
    {{stage.descMissions}}
        {% for formation in stage.formations %}
        {{formation.nomLong}}
        {% endfor %}
    {% endfor %}
</table>
   

{% endblock %}